.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
        0 8px 10px 1px rgba(0, 0, 0, 0.14),
        0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.draggable:last-child {
    border: none;
}

.draggable-list.cdk-drop-list-dragging .draggable:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

#container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    #questions-container {
        width: 80%;
        padding: 2rem;
    }

    #settings-container {
        position: sticky;
        top: 0px;
    }
}

textarea {
    width: 100%;
    padding: 0.5rem;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: grey; //later change it
    resize: none;
    padding: 1rem;
}

input {
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: grey; //later change it
    width: auto;
    padding: 0.5rem;
    font-size: x-large;
    font-weight: bold;
}

.editable-text {
    border-color: transparent;
    box-shadow: transparent 0px 0px 0px 1px;
    transition: background 0.1s ease 0s;
    overflow: auto;
    overflow-y: hidden;
    appearance: none;

    &:hover:not(:focus) {
        background-color: grey; //later change it
        cursor: text;
    }

    &:focus {
        background-color: #f8f8f8;
        border: 1px solid black;
        box-shadow: 0 0 0 1px black;
        outline: none;
    }
}

.title-and-desc-container {
    margin: 2rem 0;
}