<div id="container">
    <div id="questions-container">
        <button class="my-btn" type="button" (click)="importFileInput.click()">
        Import Questions
        <input #importFileInput type="file" (change)="importQuestions($event)" accept=".xml, .json" style="display:none;" />
        </button>
        <button class="my-btn" type="button" (click)="openPreview()">Preview</button>
        <button class="my-btn" type="button" (click)="saveQuiz()">SAVE</button>

        <div class="title-and-desc-container">
            <input class="editable-text" [(ngModel)]="quizTitle">
            <textarea class="editable-text" [(ngModel)]="quizDesc" cdkTextareaAutosize cdkAutosizeMinRows="3"></textarea>
        </div>

        <div cdkDropList class="draggable-list" (cdkDropListDropped)="drop($event)">
        
            <div class="questions-container draggable" *ngFor="let question of questions; let i = index" cdkDrag>
                
                <app-question-card 
                [newQuestion]="question"
                [questionIdx]="i"
                (questionChanged)="onQuestionChanged($event, i)"
                (deleteCardClick)="removeQuestion(i)"
                ></app-question-card>
            </div>
        </div>
        
        <button class="my-btn" type="button" (click)="openQuestionDialog()">New question</button>
    </div>
    <div id="settings-container">
        <app-settings
        [questionSum]="questions.length"
        (settingsChanged)="onSettingsChanged($event)"
        ></app-settings>
    </div>
</div>
