.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
        0 8px 10px 1px rgba(0, 0, 0, 0.14),
        0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.draggable:last-child {
    border: none;
}

.draggable-list.cdk-drop-list-dragging .draggable:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}



#container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100vh;
    overflow: hidden;

    #questions-container {
        width: 80%;
        padding: 2rem;
        overflow-y: auto;
        overflow-x: hidden;

        .buttons-container {
            display: flex;
            flex-direction: row;
            align-items: center;

            button {
                display: flex;
                align-items: center;
            }
        }
    }

    #settings-container {
        position: sticky;
        height: fit-content;
        top: 0px;
    }
}

#questions-container::-webkit-scrollbar {
    display: none;
}

#questions-container {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;     /* Firefox */
}


textarea {
    width: 100%;
    padding: 0.5rem;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #F0F0E8; //later change it
    resize: none;
    padding: 1rem;
}

input {
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #F0F0E8; //later change it
    width: auto;
    padding: 0.5rem;
    font-size: x-large;
    font-weight: bold;
}

.editable-text {
    border-color: transparent;
    box-shadow: transparent 0px 0px 0px 1px;
    transition: background 0.1s ease 0s;
    overflow: auto;
    overflow-y: hidden;
    appearance: none;
    margin: 1rem 0;

    &:hover:not(:focus) {
        background-color: rgba(0, 0, 0, 0.1); //later change it
        cursor: text;
    }

    &:focus {
        background-color: #F0F0E8;
        border: 1px solid black;
        box-shadow: 0 0 0 1px black;
        outline: none;
    }
}

.title-and-desc-container {
    margin: 2rem 0;
}