<app-header></app-header>
<div class="profile-container">
    <div class="user-info">
        <h1>Name: Test User</h1>
        <h4>User name: testuser</h4>
        <p>Email: email at email.com</p>
        <button class="my-btn"> Change password</button>
    </div>
    <div class="user-picture">
        <div *ngIf="selectedImage; else noimage" class="image-container">
            <img [src]="selectedImage.data" alt="selectedImage.Name">
        </div>
        <ng-template #noimage>
            <div class="avatar"></div>
        </ng-template>

        <button class="my-btn" type="button" (click)="fileInput.click()">
            Upload picture
            <input #fileInput type="file" (change)="uploadImage($event)" accept="image/jpeg, image/png"
              style="display:none;" />
          </button>
    </div>
</div>

