<mat-card>
  <mat-card-header>
    <mat-card-title>
      <textarea id="question-text" [(ngModel)]="newQuestion.questionText" (input)="emitQuestionChanges()" placeholder="Here goes the question"></textarea>

      <button class="my-btn" type="button" (click)="fileInput.click()">
        <mat-icon>image</mat-icon>
        <input #fileInput type="file" (change)="uploadImage($event)" accept="image/jpeg, image/png"
          style="display:none;" />
      </button>
      <select class="my-dropdown" [(ngModel)]="newQuestion.type" (change)="emitQuestionChanges()">
        <option *ngFor="let option of dropDownOptions"  value={{option.value}}>{{option.text}}</option>
      </select>
    </mat-card-title>
    <mat-card-subtitle>
      <div *ngIf="selectedImage">
        <img class="my-question-img" [src]="selectedImage" alt="Selected Image">
        <button class="my-btn" type="button" (click)="deleteImage()"><mat-icon>delete</mat-icon></button>
      </div>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content cdkDropList class="draggable-answer-list" (cdkDropListDropped)="drop($event)">
    <div class="my-answer-option-container draggable-answer" *ngFor="let answer of newQuestion.answers; let i = index" cdkDrag>
      <div>
        <mat-icon class="drag-handle" cdkDragHandle>drag_indicator</mat-icon>
        <input class="my-answer-sign" type="radio" name="radio-{{questionIdx}}-{{i}}" [checked]="answer.correctness" (change)="selectRadio(i)">
        <input class="my-answer-text" [(ngModel)]="answer.answerText" (input)="emitQuestionChanges()" placeholder="Answer option {{i+1}}." >
      </div>
      <input class="my-answer-point" type="number" [(ngModel)]="answer.point" (input)="emitQuestionChanges()">
      <button class="my-btn" type="button" (click)="removeAnswerOption(i)"><mat-icon>delete</mat-icon></button>
    </div>
    <button class="my-btn" type="button" (click)="addAnswerOption()"><mat-icon>add</mat-icon></button>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button class="my-btn">Delete</button>
    <button mat-button class="my-btn">Duplicate</button>
  </mat-card-actions>
</mat-card>