# See http://help.github.com/ignore-files/ for more about ignoring files.

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio
.vs/*

# Database project
EduQuizDBAccess/bin
EduQuizDBAccess/obj

# Web API project
EduQuizWebAPI/bin
EduQuizWebAPI/obj