.quiz-cards-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    margin: 2rem 5rem;
    gap: 1rem;
}

.create-btn-container {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.unchecked-item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem;
    background-color: #FAFAFA;
}

.unchecked-quizzes {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: left;
    padding-top: 2rem;
}