.container {
    height: 100vh;
    position: sticky;
    background-color: transparent;

    .sidenav {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 30rem;
        height: 100vh;
        padding: 0 2rem;
        margin: 0;

        .date-time-container {
            display: flex;
            flex-direction: row;
            gap: 1rem;
            
            .date {
                width: 60%;
            }
            .time {
                width: 40%;
            }
        }

        .num {
            width: 5rem;
        }
    }

    .sidenav-content {
        margin: 0;
        padding: 0;
        top: 0;
        right: 0; 
        height: 100%;
        display: flex;
        align-items: center;

        button {
            width: 3rem;
            height: 100%;
        }

        .rotate{
            writing-mode: vertical-lr;
            transform: rotate(-180deg);
            white-space: nowrap;
        }
    }
}