<app-header></app-header>
<div class="main-container">
    <div class="group-info-container">
        <div class="group-desc">
            <h2><b>{{groupData.name}}</b></h2>
            <h3>Members: {{groupData.memberIds.length}}</h3>
            <p>{{groupData.description}}</p>
            <p><b>Join code: </b>{{groupData.joinCode}}</p>
            <p><b>Admin: </b>{{groupData.creatorName}}</p>
        </div>
        <mat-divider vertical style=" --mat-divider-width: 8px; "></mat-divider>
        <div class="group-members">
            <div class="member-pics">
                <div *ngFor="let user of groupUsers">
                    <div class="avatar"></div>
                    {{user.userName}}<br>
                    {{user.name}}
                </div>
            </div>
        </div>
    </div>
    <div >
        <div>
            <h2><u><b>Shared</b></u></h2>
        </div>
        <div class="shared-quizzed-container">
            <div *ngFor="let quizCard of quizCards">
                <app-quiz-card
                [quizCard]="quizCard"
                (startQuiz)="handleStartQuiz($event)"
            ></app-quiz-card>
            </div>
        </div>
    </div>

</div>